{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Dashboard{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'app/styles.css' %}">
</head>
<body>
    <!-- Navigation Bar -->
    <nav>
        <div class="nav-left">
            {% block navbar_heading %}
               Dashboard
            {% endblock %}

        </div>
        <div class="nav-right">
            <ul>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'search' %}">Home</a></li>
                    <li><a href="{% url 'bus' %}">Bus Manager</a></li>
                    <li><a href="{% url 'owner' %}">Owner</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>




    {% block content %}{% endblock %}
</body>
</html>
